body {
  background: white;
  max-width: 50%;
  margin: auto;
}

.header img {
  padding-top: 12px;
}

.footer {
    position: relative;
    margin: 1em;
    width: 50%;
    overflow: hidden;
    font-size: x-small;
}
.footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
    list-style-type: none;
}
.footer li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid #ccc;
}

.footer li:first-child {
  border-left: none;
}
